[submodule "exogui"]
	path = Gui
	url = ../exogui.git
	branch = master
[submodule "exocode"]
	path = Exo
	url = ../exocode.git
	branch = master
[submodule "hlo"]

	path = HLO
	url = ../hlo.git

	branch = master